/* ============================================ *
 * Typography
 * ============================================ */
/* ============================================ *
 * Colour Palette
 * ============================================ */
/* ============================================ *
 * Font Colours
 * ============================================ */
/* ============================================ *
 * Font Family
 * ============================================ */
body {
  font-family: "Open Sans", sans-serif;
}

.logo {
  height: 50px;
}

.banner-cta {
  padding: 1rem;
}

@media only screen and (max-width: 770px) {
  .banner-cta {
    align-self: center;
    padding: 0 40px;
    text-align: center;
  }
}

.banner-img img {
  margin: 2rem 0 0 4rem;
}

@media only screen and (max-width: 770px) {
  .banner-img img {
    margin: 4rem 1rem;
    width: 100%;
  }
}

/* ============================================ *
 * Containers
 * ============================================ */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (max-width: 770px) {
  .flex-container {
    flex-flow: column wrap;
    justify-content: center;
  }
}

.nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  list-style-type: none;
}

/* ============================================ *
 * Buttons
 * ============================================ */
.small-button, .big-button {
  background: #307FF5;
  border-radius: 4px;
  color: #fff;
  font-family: Open Sans;
  font-weight: 700;
  border: blue;
}

.small-button {
  display: inline-block;
  width: 149px;
  height: 45px;
  font-size: 16px;
}

.big-button {
  display: block;
  width: 351px;
  height: 78px;
  font-size: 24px;
  margin-bottom: 16px;
  box-shadow: 0px 1px #4242e6;
}

@media only screen and (max-width: 770px) {
  .big-button {
    text-align: center !important;
    align-self: center !important;
    margin: 0 auto;
  }
}

.big-button:hover {
  cursor: pointer;
  box-shadow: 1px 2px #3e3eff;
}

/* ============================================ *
 * Typography
 * ============================================ */
h1 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 65px;
  color: #307FF5;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #333333;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
  padding-bottom: 8px;
}

p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #333333;
}

small {
  font-size: 12px;
  color: #343434;
}
