/* ============================================ *
 * Colour Palette
 * ============================================ */
/* ============================================ *
 * Font Colours
 * ============================================ */
/* ============================================ *
 * Font Family
 * ============================================ */
/* ============================================ *
 * Typography
 * ============================================ */
body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.flex-container ul {
  list-style-type: none;
}

.main-button {
  display: inline-block;
  width: 149px;
  height: 45px;
  background: #307FF5;
  border-radius: 4px;
  color: #fff;
  font-family: Open Sans;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  border: blue;
}

.logo {
  height: 60px;
}

.banner-cta {
  padding: 1rem;
}

.banner-img img {
  padding: 2rem 0 2rem 4rem;
}

/* ============================================ *
 * Typography
 * ============================================ */
h1 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 65px;
  color: #307FF5;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #333333;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
}

p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #333333;
}
