/*===== Typography =====*/
/*===== Colour Palette =====*/
/*===== Font Colours =====*/
/*===== Font Family =====*/
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.logo {
  height: 50px;
}

.banner-cta {
  padding: 1rem;
}

@media only screen and (max-width: 1200px) {
  .banner-cta {
    align-self: center;
    padding: 0 40px;
    text-align: center;
  }
}

.banner-img img {
  margin: 2rem 0 0 4rem;
}

@media only screen and (max-width: 1200px) {
  .banner-img img {
    margin: 4rem 1rem;
  }
}

.choose h2 {
  text-align: center;
  margin: 0 auto;
  padding: 3rem 0;
}

.choose__row {
  display: flex;
  flex-flow: row nowrap;
  padding: 0 40px;
}

@media only screen and (max-width: 1200px) {
  .choose__row {
    flex-flow: column nowrap;
  }
}

.choose__row .choose__flex {
  width: 50%;
  padding: 1rem;
  display: inline-flex;
}

@media only screen and (max-width: 1200px) {
  .choose__row .choose__flex {
    width: 100%;
  }
}

.choose__row .choose__flex .choose__flex--icon {
  padding: 1rem 2rem 2rem 0;
}

.choose__row .choose__flex .choose__flex--text {
  padding-right: 1rem;
}

.trustpilot__row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

@media only screen and (max-width: 1200px) {
  .trustpilot__row {
    flex-flow: column nowrap;
  }
}

.trustpilot__row .trustpilot__reviews {
  border: 1px solid #f7f7f7;
  box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
  border-radius: 8px;
  width: 32%;
  padding: 2rem;
  display: inline-flex;
}

@media only screen and (max-width: 1200px) {
  .trustpilot__row .trustpilot__reviews {
    width: 90%;
    margin: 0 1rem;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (max-width: 1200px) {
  .flex-container {
    flex-flow: column wrap;
    justify-content: center;
  }
}

.nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  list-style-type: none;
}

.trustpilot {
  text-align: center;
  margin: 0 auto;
  padding-top: 6rem;
}

.three-benefits {
  display: flex;
  padding: 2rem 1rem;
}

@media only screen and (max-width: 1200px) {
  .three-benefits {
    flex-flow: column wrap;
    justify-content: center;
    padding: 0 3rem;
  }
}

.three-benefits .benefit {
  display: inline-flex;
  padding: 1rem;
}

.three-benefits .benefit p {
  padding: 1rem;
}

.three-benefits .benefit img {
  width: 60px;
  height: 60px;
  margin-top: 1rem;
}

.future-proof-container {
  background: rgba(48, 127, 245, 0.04);
  width: 100%;
  padding: 6rem 4rem;
  margin: 2rem auto;
}

@media only screen and (max-width: 1200px) {
  .future-proof-container {
    padding: 4rem 2rem;
  }
}

.future-proof {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

@media only screen and (max-width: 1200px) {
  .future-proof {
    flex-direction: column-reverse;
    max-width: 600px;
    justify-content: center;
  }
}

.future-proof .future-proof--img {
  max-width: 60%;
  text-align: center;
  width: 600px;
}

@media only screen and (max-width: 1200px) {
  .future-proof .future-proof--img {
    max-width: 100%;
  }
}

.future-proof .future-proof--text {
  max-width: 40%;
  text-align: left;
}

@media only screen and (max-width: 1200px) {
  .future-proof .future-proof--text {
    max-width: 100%;
    padding-bottom: 1.5rem;
  }
}

.footer__container {
  background: url("img/footer_img.png");
  width: 100%;
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 6rem 4rem;
  margin-top: 6rem;
}

@media only screen and (max-width: 1200px) {
  .footer__container {
    padding: 3rem;
  }
}

.footer__container .footer__flex {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

@media only screen and (max-width: 1200px) {
  .footer__container .footer__flex {
    flex-direction: column-reverse;
    max-width: 600px;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
  }
}

.footer__container .footer__cta {
  background: #ffffff;
  border-radius: 8px;
  max-width: 40%;
  padding: 3.5rem;
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  .footer__container .footer__cta {
    min-width: 100%;
  }
}

.footer__container .footer__cta h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #333333;
}

.footer__container .footer__cta p {
  padding-bottom: 1rem;
  font-weight: normal;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #333333;
}

.footer {
  padding: 0.5rem 0;
  text-align: center;
  margin: 0 auto;
}

.footer p {
  font-weight: lighter;
}

/*===== Buttons =====*/
.small-button, .big-button {
  background: #307ff5;
  border-radius: 4px;
  color: #fff;
  font-family: Open Sans;
  font-weight: 700;
  border: blue;
}

.small-button {
  display: inline-block;
  width: 149px;
  height: 45px;
  font-size: 16px;
}

.big-button {
  display: block;
  width: 351px;
  height: 78px;
  font-size: 24px;
  margin-bottom: 16px;
  box-shadow: 0px 1px #4242e6;
}

@media only screen and (max-width: 1200px) {
  .big-button {
    text-align: center !important;
    align-self: center !important;
    margin: 0 auto;
  }
}

.big-button:hover {
  cursor: pointer;
  box-shadow: 1px 2px #3e3eff;
}

/*===== Typography =====*/
h1 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 65px;
  color: #307ff5;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #333333;
  font-weight: 300;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
  padding-bottom: 8px;
}

p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #333333;
}

small {
  font-size: 12px;
  color: #343434;
}
