/*===== Colour Palette =====*/
$y-blue: #307ff5;
$y-background-blue: rgba(48, 127, 245, 0.04);

/*===== Font Colours =====*/
$primary-colour: #333333;
$blue-colour: $y-blue;
$grey-colour: #717171;

/*===== Font Family =====*/
$font-stack: "Open Sans", sans-serif;
