@media only screen and (max-width: 770px) {
    .flex-container {
        flex-flow: column wrap!important;
        display: flex!important;
        justify-content: center!important;
        .banner-cta {
            align-self: center!important;
            padding: 0 40px;
            text-align: center;
            .big-button { 
                text-align: center!important;
                align-self: center!important;
                margin: 0 auto;
            }
        }
        .banner-img {
            align-self: center;
            img {
                margin: 4rem 1rem;
                width: 100%;
            }
        }
    }
}

