/*===== Typography =====*/
@mixin h1 {
  font-family: $font-stack;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 65px;
  color: $y-blue;
}

@mixin h2 {
  font-family: $font-stack;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: $primary-colour;
}

@mixin h3 {
  font-family: $font-stack;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  color: $primary-colour;
}

@mixin p {
  font-family: $font-stack;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: $primary-colour;
}
