@import 'config';
@import 'mobile';
@import 'buttons';

body {
    font-family: $font-stack;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    ul {
      list-style-type: none;
    }
}

.logo {
    height: 60px;;
}