@import 'config';
@import 'mobile';
@import 'typography';

body {
    font-family: $font-stack;
}

.logo {
    height: 50px;;
}

.banner-cta {
    padding: 1rem;
}

.banner-img img {
    margin: 2rem 0 0 4rem;
}

/* ============================================ *
 * Containers
 * ============================================ */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    
}

.nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    ul {
      list-style-type: none;
    }
}

/* ============================================ *
 * Buttons
 * ============================================ */

%btn {
    background: #307FF5;
    border-radius: 4px;
    color: #fff;
    font-family: Open Sans;
    font-weight: 700;
    border: blue;
}

.small-button {
    @extend %btn;
    display: inline-block;
    width: 149px;
    height: 45px;
    font-size: 16px;
}

.big-button {
    @extend %btn;
    display: block;
    width: 351px;
    height: 78px;
    font-size: 24px;
    margin-bottom: 16px;
    box-shadow: 0px 1px rgb(66, 66, 230);
}

.big-button:hover {
    cursor: pointer;
    box-shadow: 1px 2px rgb(62, 62, 255);
}

/* ============================================ *
 * Typography
 * ============================================ */

h1 {
    @include h1;
}

h2 {
    @include h2;
}

h3 {
    @include h3;
    padding-bottom: 8px;
}

p {
    @include p;
}

small {
    font-size: 12px;
    color: #343434
}