@import 'typography';
@import 'config';

*, *::before, *::after {box-sizing: inherit};

html {
    box-sizing: border-box;
}

body {
    font-family: $font-stack;
}

.logo {
    height: 50px;;
}

.banner-cta {
    padding: 1rem;
    @media only screen and (max-width: 770px) {
        align-self: center;
        padding: 0 40px;
        text-align: center;
    }
}

.banner-img img {
    margin: 2rem 0 0 4rem;
    @media only screen and (max-width: 770px) {
        margin: 4rem 1rem;
    }
}

/* ============================================ *
 * Containers
 * ============================================ */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    @media only screen and (max-width: 770px) {
        flex-flow: column wrap;
        justify-content: center;
    }
}

.nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    ul {
      list-style-type: none;
    }
}

.three-benefits {
    display: flex;
    padding: 2rem 1rem;
    @media only screen and (max-width: 770px) {
        flex-flow: column wrap;
        justify-content: center;
        padding: 1rem;
    }
    .benefit {
        display: inline-flex;

        p {
            padding: 0 1rem;
        }
        img {
            width: 60px;
            height: 60px;
            padding-top: 1rem;
        }
        @media only screen and (max-width: 770px) {
            padding: 1rem 0;
        }
    }
}

.future-proof-container {
    background: rgba(48, 127, 245, 0.04);
    width: 100%;
    padding: 4rem;
    margin: 0 auto;
}

.future-proof {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    .future-proof--img {
        max-width: 60%;
        text-align: center;
    }
    .future-proof--text {
        max-width: 40%;
        text-align: left;
    }
}

/* ============================================ *
 * Buttons
 * ============================================ */
%btn {
    background: #307FF5;
    border-radius: 4px;
    color: #fff;
    font-family: Open Sans;
    font-weight: 700;
    border: blue;
}

.small-button {
    @extend %btn;
    display: inline-block;
    width: 149px;
    height: 45px;
    font-size: 16px;
}

.big-button {
    @extend %btn;
    display: block;
    width: 351px;
    height: 78px;
    font-size: 24px;
    margin-bottom: 16px;
    box-shadow: 0px 1px rgb(66, 66, 230);
    @media only screen and (max-width: 770px) { 
        text-align: center!important;
        align-self: center!important;
        margin: 0 auto;
    }
}

.big-button:hover {
    cursor: pointer;
    box-shadow: 1px 2px rgb(62, 62, 255);
}

/* ============================================ *
 * Typography
 * ============================================ */
h1 {
    @include h1;
}

h2 {
    @include h2;
    font-weight: 300;
}

h3 {
    @include h3;
    padding-bottom: 8px;
}

p {
    @include p;
}

small {
    font-size: 12px;
    color: #343434;
}